@import './variables.scss';

.aboutSection{
    position: relative;
    align-self: center;
    justify-self: center;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    background-color: #1f1f1f;
    padding-bottom: 5rem;
    

    h2{
        padding-left: 0.1rem;
        position: relative;
        color: $orange;
        font-size: 2rem;
        margin-bottom: 4rem;
        z-index: 1;
        
        &:after{
            background-color: $white;
            position: absolute;
            content: "";
            width: 5rem;
            height: 0.18rem;
            left: 0;
            right: 0;
            margin: auto;
            margin-top: 2.5rem;
        }
    }

    &:after{
        position: absolute;
        background: inherit;
        width: 100%;
        height: 100%;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: top right;
        transform: skewY(3deg);
        z-index: 0;
     
    }

    &:before{
        position: absolute;
        background: inherit;
        width: 100%;
        height: 100%;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: bottom left;
        transform: skewY(3deg);
        z-index: 0;
    }


}

.aboutContainer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1024px;
    margin: auto;
    position: relative;
    z-index: 1
}

.textContainer{
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    p{
        color: $white;
    }
}

.aboutImg{
    img{
        width: 375px;
        border-radius: 0.1rem;
        box-shadow:  4px 4px 0.1px $orange;
    }
}

@media screen and (max-width: 768px){
.aboutContainer{
    display: flex;
    flex-direction: column;
}

.aboutImg{
    margin-bottom: 2rem;
    img{
        width: 175px
    }
}


}