@import './variables.scss';


header{
    background-color: $orange;
    background-image: $gradient;
    height: 3.5rem;
    width: 100%;
    box-shadow: 0 0.5rem 10px #131313;

}

.navContainer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    }
     
.navList{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    }


.navLink{
    margin-right: 2rem;
    color: $dark;

    span{
        font-weight: 700;
        color: $white;
            }
    }
                
.socialsList{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    display: flex;
    align-items: center;
    padding-top: 0.2rem;

    a{
        color: $dark;
        &:hover{
            color: $white;
        }
    }
}
                
@media screen and (max-width: 768px){
            
        .navLink{
            display: none;
        }
        

        .logo{
            font-size: 1.5rem;
            width: 10rem;
        }


    }

    
      