@import './variables.scss';

.homeContainer{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.homeHeadlines{
    p{
        font-size: 2rem;
        margin-left: 0.4rem;
        color: $white;
    }

    h1{
        font-family: $dm;
        font-size: 6rem;
        color: $white;
        background-image: linear-gradient(
            45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
            
           
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        animation: rainbow-text-simple-animation-rev 2.5s ease forwards;
        &:hover {
            animation: rainbow-text-simple-animation 0.5s ease-in forwards;
        }
    
        @keyframes rainbow-text-simple-animation-rev {
            0% {
                background-size: 650%;
            }
            40% {
                background-size: 650%;
            }
            100% {
                background-size: 100%;
            }
        }
        @keyframes rainbow-text-simple-animation {
            0% {
                background-size: 100%;
            }
            80% {
                background-size: 650%;
            }
            100% {
                background-size: 650%;
            }
        }
        
        
        
    }
    
    h2{
    margin-left: 0.2rem;
    font-size: 4rem;
    color: $white;
    font-weight: 400;
    padding-bottom: 1rem;
    }


}


@media screen and (max-width: 400px){
    .homeHeadlines{
        p{ font-size: 1.2rem}
        h1{ font-size: 4rem}
        h2{ font-size: 3rem}
    }
}