@import './variables.scss';

html, body{
    background-color: $dark;
    font-family: $anon;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.05rem;
}

h1, h2, p, h3{
    margin: 0;
    color: $orange;
}

a{
    text-decoration: none;
    color: $white;
    &:hover{
        color: $white;
    }
}

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}