@import './variables.scss';

.projectSection{
    margin-top: 10rem;
    position: relative;
    align-self: center;
    justify-self: center;
    margin: auto;
    text-align: center;
    background-color: $dark;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 7rem;
    padding-top: 0;
    width: 100%;
    

    h2{
        font-size: 2rem;
        margin-bottom: 3rem;

        &:after{
            background-color: $white;
            position: absolute;
            content: "";
            width: 7rem;
            height: 0.18rem;
            left: 0;
            right: 0;
            margin: auto;
            margin-top: 2.5rem;
        }
    }
   
}

.projectsContainer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'l1 r1'
                         'l2 r2';
                            
    max-width: 1024px;
    margin: auto;
}

.choremasterImage{
    position: relative;
    grid-area: r1;
    width: 400px;
    margin: auto;
    max-width: 80%;

    button{
        border: none;
        width: 100%;
        background-color: $dark;
        cursor: pointer;
    }

    img{
        margin: auto;
        width: 100%;
        border-radius: 0.2rem;
        box-shadow: 4px 4px 0.1px $orange;

        &:hover{
            transform: scale(1.05);
        }
    }

    i{
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 2rem;
        color: $orange;
        cursor: pointer;
    }
}

.readditImage{
    grid-area: l2;
    width: 400px;
    margin: auto;
    position: relative;
    max-width: 80%;
    img{
        margin-top: 3rem;
        width: 100%;
        border-radius: 0.2rem;
        box-shadow: 4px 4px 0.1px $orange;

        &:hover{
            transform: scale(1.05);
        }
    }

    i{
        position: absolute;
        bottom: 5px;
        right: 20px;
        font-size: 2rem;
        color: $orange;
    }
}

.choremasterInfo{
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
    margin-bottom: 2rem;
    h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    p{
        color: $white;
    }

    grid-area: l1;

}

.readditInfo{
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
    h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    p{
        color: $white;
    }
    grid-area: r2;

}

.codeInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border: 1px solid $orange;
    p{
    color:$orange;
    padding-right: 1rem;
    }
    i{
    color: $orange;
    font-size: 2rem;
    }
}




@media screen and (max-width: 768px){
    .projectsContainer{
        display: flex;
        flex-direction: column;
    }

    img{
        margin-top: 2rem;
    }
}